{% extends 'layout.html.twig' %} {% block title %} {{ parent() }} - L'auteur {%
endblock %} {% block content %}
<div class="row mt-5 justify-content-center text-center">
  <h1 class="text-info">Auteur : {{ auteur.nom }}</h1>
  <div>
    <br /><br />
    <h5>Prénom : {{ auteur.prenom }} ...</h5>
    <h6>
      Date de naissance :
      {{ auteur.dateDeNaissance | date("d/m/y")}}
    </h6>
    <h6>
      Date de naissance
      {{ auteur.biographie }}
    </h6>
  </div>
  <p class="text-success p-3"><a href="{{ path("app_auteur")}}"><em> ← Retour</em></a></p>
</div>
{% endblock %}
